<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Author" content="GrupoBECM">
	<link rel="canonical" href="http://medicuus.com/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quiero un doc</title>
	<meta name="keywords" content="">
	<meta name="Description" content="">
	<meta property="og:title" content="Quiero un doc"/>
	<meta property="og:image" content=""/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content="Quiero un doc"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<!--BEGIN HEADER-->
	<header class="container-fluid">
		<div class="row menu_bar">
			<a href="javascript:void(0);" class="btn-menu"><span class="fa fa-navicon fa-2x"></span></a>
		</div>
		<nav class="row">
			<div class="hidden-xs hidden-sm col-md-3 col-lg-3 nav-left">
				<a href="javascript:void(0);">
					<img src="img/logo-menu.png" class="img-responsive center-block">
				</a>
			</div>
			<div class="col-md-6 col-lg-6 text-center nav-center">
				<ul>
					<li><a href="index.html"><img src="img/home.png" class="mhome"></a></li>
					<li><a href="conocenos.html">Conócenos</a></li>
				  	<li><a href="medicos.html">Médicos</a></li>
				  	<li><a href="pacientes.html">Pacientes</a></li>
				</ul>
			</div>
			<div class="col-lg-3 text-center nav-right">
				<ul>
					<li class="dropdown">
                        <a href="javascript:void(0);" class="dropbtn"><img src="img/inicia_sesion.png" alt="inicia sesion"></a>
                        <div class="dropdown-content hidden-xs hidden-sm">
                            <p>Disfruta o forma parte de nuestra red de bienestar</p>
                        </div>
                    </li>
                    <li class="dropdown line-left">
                        <a href="javascript:void(0);" class="dropbtn"><img src="img/registrate.png"></a>
                       <div class="dropdown-content hidden-xs hidden-sm">
                            <p>Disfruta o forma parte de nuestra red Medicuus</p>
                        </div>
                    </li>
				</ul>
			</div>
		</nav>
	</header><!--END HEADER-->
	<!--BEGIN DIV-->
	<div class="container-fluid" id="banner1">
		<img src="img/fondo_azul_responsivo.png" class="img-responsive center-block hidden-md hidden-lg cover-img">
		<img src="img/fondo_azul.png" class="img-responsive center-block hidden-xs hidden-sm" id="img-banner1">
	</div><!--END DIV-->
	<!--BEGIN DIV-->
	<div class="container-fluid pa-banner2">
		<div class="text-center info">
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-lg-offset-1 text-center pa-left">
				<h2>La dinámica ideal</h2>
				<img src="img/pleca_color.png" class="img-responsive center-block pleca">
				<div class="col-lg-12">
					<img src="img/dinamica-1.png" class="dina-img col-lg-2">
					<p class="dina-text col-lg-9"><span class="text-blue">Regístrate e ingresa tus detalles médicos</span> para que tengamos un seguimiento de tu línea de salud.</p>
				</div>
				<div class="col-lg-12">
					<img src="img/dinamica-2.png" class="dina-img col-lg-2">
					<p class="dina-text col-lg-9"><span class="text-blue">Ingresa a la app y el mapa te localizará</span> y a todo el directorio médico disponible, para que el personal más próximo esté contigo lo antes posible.</p>
				</div>
				<div class="col-lg-12">
					<img src="img/dinamica-3.png" class="dina-img col-lg-2">
					<p class="dina-text col-lg-9">Después de benificiarte por la antención médica, no te preocupes por el pago inmediato, <span class="text-blue"> el cargo se hará a tu tarjeta de crédito.</span></p>
				</div>
				<div class="col-lg-12">
					<img src="img/dinamica-4.png" class="dina-img col-lg-2">
					<p class="dina-text col-lg-9"><span class="text-blue">Tenemos especilistas para cualquier necesidad</span> que requieras, esperando hacer de tu salud su prioridad.</p>
				</div>
				<div class="col-lg-12">
					<img src="img/dinamica-5.png" class="dina-img col-lg-2">
					<p class="dina-text col-lg-9"><span class="text-blue">agenda citas con tu médico</span> de confianza y nosotros nos aseguraremos de que el seguimiento a tu historial siempre esté disponible y óptimo.</p>
				</div>
			</div>
			<div class="col-lg-6 pa-right">
				<img src="img/preguntas-frecuentes.png" class="center-block">
				<div class="col-lg-8 col-lg-offset-2 title">
					<h3>Preguntas frecuentes</h3>
				</div>
				<div class="col-lg-8 col-lg-offset-2 description">
					<p class="question text-blue col-lg-12">¿Se puede enviar un médico a otra persona?</p>
					<p class="answer col-lg-12"> Por supuesto, nuestro servicio está disponible no solo para los usuarios refistrados, sino para cualquier persona que le resulte importante, extendiendo su servicio a terceros.</p>

					<p class="question text-blue col-lg-12">¿Cuenta con soporte médico las 24 hrs?</p>
					<p class="answer col-lg-12">Medicuus estará disponible siempre que los necesites y con la capacidad de ir a donde tu lo requieras.</p>

					<p class="question text-blue col-lg-12">¿Hay paquetes para familias?</p>
					<p class="answer col-lg-12">Por el momento no contamos con paquetes familiares, pero podrás hacer uso del servicio para tu familia.</p>

					<p class="question text-blue col-lg-12">¿Existen benedicios si se trata de más de un usuario?</p>
					<p class="answer col-lg-12">Existen múltiples benedicios que le otorgamos a la fidelidad de nuestros clientes, los cuales dependerán de la antigüedad de su registro y el número de consultas que haga, siempre manteniendo como prioridad su bienestar.</p>

				</div>
			</div>
		</div>
		<div class="col-lg-12 btn-med">
			<button class="center-block">Solicita tu primer médico a domicilio</button>
		</div>
	</div><!--END DIV-->
	<!--BEGIN DIV-->
    <div class="container-fluid banner2-pag hidden-xs hidden-sm">
        <hr>
        <div class="container text-center" id="custom-pagination-container">
        </div>
    </div><!--END DIV-->
    <!--BEGIN DIV-->
	<div class="container-fluid owl-carousel pa-banner2-index">
        <div class="item">
        	<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center left">
        		<img src="img/primeros-auxilios.png" class="center-block">
        		<h3>Enfermería y <span class="text-black"><br>primeros auxilios</span></h3>
        		<img src="img/pleca-blanca.png">
        		<p>Porque tu salud y tu bienestar es lo más importante, MEDICUUS ofrece todo tipo de servicios de enfermería las 24 horas del día y todos los días del año a precios muy accesibles.</p>
        	</section>
        	<section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
        		<p class="upper">Horario:</p>
        		<p><span class="upper text-black">Tarifa normal:</span> De lunes a viernes de 9:00 a 20:00 y sábados de 9:00 a 14:00</p>
        		<p><span class="upper text-black">Tarifa especial:</span> De lunes a viernes de 20:00 a 9:00, sábados de 14:00 a 9:00 y domingos completos (se incrementa un 50% de la tarifa normal).</p>
        		<p><span class="upper text-black">Urgencias:</span> Contactando con MEDICUUS en el teléfono indicado, acudirá a su domicilio lo antes posible para resolver su urgencia. Este servicio de emergencia está sujeto a las disponibilidades de MEDICUUS y se aplica la Tarifa Especial</p>
        		<section class="text-center">
        			<p class="col-lg-6 tarifa">Tarifa normal: <br><span class="text-black font-x">$100.00</span></p>
        			<p class="col-lg-6 tarifa">Tarifa especial: <br><span class="text-black font-x">$120.00</span></p>
        		</section>
        	</section>
        	<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right">
        		<p class="text-black">Toma de constantes (tensión, temperatura, saturación de oxígeno</p>
        		<hr>
        		<p>Inyecciones intramusculares</p>
        		<hr>
        		<p class="text-black">Inyecciones intravenosas</p>
        		<hr>
        		<p>Vacunas, insulinas y heparinas</p>
        		<hr>
        		<p class="text-black">Cura de heridas (incluyendo quirúrgica)</p>
        	</section>
        </div>
        <div class="item">
        	<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center left">
        		<img src="img/medicina-general.png" class="center-block">
        		<h3>Enfermería y <span class="text-black"><br>primeros auxilios</span></h3>
        		<img src="img/pleca-blanca.png">
        		<p>Porque tu salud y tu bienestar es lo más importante, MEDICUUS ofrece todo tipo de servicios de enfermería las 24 horas del día y todos los días del año a precios muy accesibles.</p>
        	</section>
        	<section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
        		<p class="upper">Horario:</p>
        		<p><span class="upper text-black">Tarifa normal:</span> De lunes a viernes de 9:00 a 20:00 y sábados de 9:00 a 14:00</p>
        		<p><span class="upper text-black">Tarifa especial:</span> De lunes a viernes de 20:00 a 9:00, sábados de 14:00 a 9:00 y domingos completos (se incrementa un 50% de la tarifa normal).</p>
        		<p><span class="upper text-black">Urgencias:</span> Contactando con MEDICUUS en el teléfono indicado, acudirá a su domicilio lo antes posible para resolver su urgencia. Este servicio de emergencia está sujeto a las disponibilidades de MEDICUUS y se aplica la Tarifa Especial</p>
        		<section class="text-center">
        			<p class="col-lg-6 tarifa">Tarifa normal: <br><span class="text-black font-x">$100.00</span></p>
        			<p class="col-lg-6 tarifa">Tarifa especial: <br><span class="text-black font-x">$120.00</span></p>
        		</section>
        	</section>
        	<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right">
        		<p class="text-black">Toma de constantes (tensión, temperatura, saturación de oxígeno</p>
        		<hr>
        		<p>Inyecciones intramusculares</p>
        		<hr>
        		<p class="text-black">Inyecciones intravenosas</p>
        		<hr>
        		<p>Vacunas, insulinas y heparinas</p>
        		<hr>
        		<p class="text-black">Cura de heridas (incluyendo quirúrgica)</p>
        	</section>
        </div>
        <div class="item">
        	<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center left">
        		<img src="img/especialistas.png" class="center-block">
        		<h3>Enfermería y <span class="text-black"><br>primeros auxilios</span></h3>
        		<img src="img/pleca-blanca.png">
        		<p>Porque tu salud y tu bienestar es lo más importante, MEDICUUS ofrece todo tipo de servicios de enfermería las 24 horas del día y todos los días del año a precios muy accesibles.</p>
        	</section>
        	<section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
        		<p class="upper">Horario:</p>
        		<p><span class="upper text-black">Tarifa normal:</span> De lunes a viernes de 9:00 a 20:00 y sábados de 9:00 a 14:00</p>
        		<p><span class="upper text-black">Tarifa especial:</span> De lunes a viernes de 20:00 a 9:00, sábados de 14:00 a 9:00 y domingos completos (se incrementa un 50% de la tarifa normal).</p>
        		<p><span class="upper text-black">Urgencias:</span> Contactando con MEDICUUS en el teléfono indicado, acudirá a su domicilio lo antes posible para resolver su urgencia. Este servicio de emergencia está sujeto a las disponibilidades de MEDICUUS y se aplica la Tarifa Especial</p>
        		<section class="text-center">
        			<p class="col-lg-6 tarifa">Tarifa normal: <br><span class="text-black font-x">$100.00</span></p>
        			<p class="col-lg-6 tarifa">Tarifa especial: <br><span class="text-black font-x">$120.00</span></p>
        		</section>
        	</section>
        	<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right">
        		<p class="text-black">Toma de constantes (tensión, temperatura, saturación de oxígeno</p>
        		<hr>
        		<p>Inyecciones intramusculares</p>
        		<hr>
        		<p class="text-black">Inyecciones intravenosas</p>
        		<hr>
        		<p>Vacunas, insulinas y heparinas</p>
        		<hr>
        		<p class="text-black">Cura de heridas (incluyendo quirúrgica)</p>
        	</section>
        </div>
        <div class="item">
        	<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center left">
        		<img src="img/premium.png" class="center-block">
        		<h3>Enfermería y <span class="text-black"><br>primeros auxilios</span></h3>
        		<img src="img/pleca-blanca.png">
        		<p>Porque tu salud y tu bienestar es lo más importante, MEDICUUS ofrece todo tipo de servicios de enfermería las 24 horas del día y todos los días del año a precios muy accesibles.</p>
        	</section>
        	<section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
        		<p class="upper">Horario:</p>
        		<p><span class="upper text-black">Tarifa normal:</span> De lunes a viernes de 9:00 a 20:00 y sábados de 9:00 a 14:00</p>
        		<p><span class="upper text-black">Tarifa especial:</span> De lunes a viernes de 20:00 a 9:00, sábados de 14:00 a 9:00 y domingos completos (se incrementa un 50% de la tarifa normal).</p>
        		<p><span class="upper text-black">Urgencias:</span> Contactando con MEDICUUS en el teléfono indicado, acudirá a su domicilio lo antes posible para resolver su urgencia. Este servicio de emergencia está sujeto a las disponibilidades de MEDICUUS y se aplica la Tarifa Especial</p>
        		<section class="text-center">
        			<p class="col-lg-6 tarifa">Tarifa normal: <br><span class="text-black font-x">$100.00</span></p>
        			<p class="col-lg-6 tarifa">Tarifa especial: <br><span class="text-black font-x">$120.00</span></p>
        		</section>
        	</section>
        	<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right">
        		<p class="text-black">Toma de constantes (tensión, temperatura, saturación de oxígeno</p>
        		<hr>
        		<p>Inyecciones intramusculares</p>
        		<hr>
        		<p class="text-black">Inyecciones intravenosas</p>
        		<hr>
        		<p>Vacunas, insulinas y heparinas</p>
        		<hr>
        		<p class="text-black">Cura de heridas (incluyendo quirúrgica)</p>
        	</section>
        </div>
    </div><!--END DIV-->
	<!--BEGIN FOOTER-->
	<footer class="container-fluid">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 description">
			<img src="img/logo-footer.png" class="img-responsive center-block" alt="">
			<p>
				En QUIEROUNDOC cada proyecto es importante por eso siempre buscamos explotar al
				m&aacute;ximo el potencial de cada uno de ellos. Nuestra prioridad es la satisfacci&oacute;n absoluta de cada uno de nuestro socios de negocio.
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 slogan">
			<p>
				Donde sea, <span class="text-blue">cuando sea.</span>
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 contact">
			<div itemscope>
				<span itemprop="telephone"><a href="tel:+525559086108">+52(55) 5908 6108</a></span>
				<hr>
				<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				    <span itemprop="streetAddress">
				      Salaverry 1020 Planta Alta Col. Lindavista
				    </span>
				    <span itemprop="addressLocality">Del. GAM,</span>
				    <span itemprop="addressRegion">M&eacute;xico D.F.</span>
				    <span itemprop="postalCode">07300</span>
				 </div>
			</div>
			<div class="text-center social_net">
				<a href="javascript:void(0);"><i class="fa fa-facebook fa-2x"></i></a>
				<a href="javascript:void(0);"><i class="fa fa-twitter fa-2x"></i></a>
			</div>
		</div>
	</footer><!--END FOOTER-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.backstretch.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var windowHeight =$(window).innerHeight();
			document.getElementById("banner1").style.height = windowHeight + 'px';
			document.getElementById("img-banner1").style.height = windowHeight + 'px';
		});
	</script>
	<script type="text/javascript">
		$("#banner1").backstretch([
			"img/fondo1.png",
			"img/fondo2.png"
  ], {duration: 3000, fade: 750});
	</script>
    <script type="text/javascript">
        $(document).ready(function() {
            var customContainer = $('#custom-pagination-container');
            var customContainerArray = new Array();
            var OWLinit = false;
            var text_s = ["Primeros auxilios", "Medicina general", "Especialistas", "Premium"];
			var pag_cond = $(window).width();
			var condition = false;

            $(".pa-banner2-index").owlCarousel({
                navigation : false, // Show next and prev buttons
                autoPlay: true,
                slideSpeed : 300,
                pagination: condition,
                paginationSpeed : 400,
                singleItem:true,
                afterInit: afterOWLinit, // do some work after OWL init
                afterAction: afterAction
            });
            function afterAction() {
                if (OWLinit) updateClass(this.owl.currentItem);
                //console.info('afterAction ' + this.owl.currentItem);
            }
            function afterOWLinit() {
                // Possible to move the pagination to a new div?
                // https://github.com/OwlFonk/OwlCarousel/issues/196
                // var that = this;
                // that.owlControls.prependTo(customContainer);
                // that.owlControls.append(customContainer);
                //============================================
                $.each(this.owl.userItems, function (i) {
                    var a = $('<div class="owl-page"><span class="bg-img-'+i+'"><p>'+text_s[i]+'</p></span></div>');
                    customContainerArray.push(a);
                    // bind click event for new pgination item
                    a.bind('click', function (event) {
                        event.preventDefault();
                        this.goto = i;
                        updateClass(this.goto); // add/remove .active class
                        //console.log(this.goto);
						$(".pa-banner2-index").trigger('owl.goTo', i);
                    });
                    customContainer.append(a);
                });
                updateClass(this.owl.currentItem);
                OWLinit = true;
            }

            function updateClass(elem) {
                $.each(customContainerArray, function () {
                    this.removeClass('active');
                });
                customContainerArray[elem].addClass('active');
            }
        });
    </script>
	<script type="text/javascript">
		$(document).ready(main);
		var counter = true;
		function main() {
			$('.menu_bar').click(function(){
				//$('nav').toggle();
				if(counter) {
					$('nav').animate({
						left: '0'
					});
					counter = false;
				}else {
					$('nav').animate({
						left: '-100%'
					});
					counter = true;
				}
			});
		}
	</script>
</body>
</html>